body{
      font-family: oxygen;
}

.qbox{
      display: flex;
      flex-direction: column;
      background-color: aqua;
      width: 830px;
      height: 280px;
      border-radius: 20px;
      padding: 10px;
}

.sclbox{
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: flex-end;
      margin: 50px 50px  50px 0px ;
      
}

.level{
      margin: 30px 0 0 0;
}

.picbox{
      display: flex;
      flex-direction: row;
      background-color: beige;
}

.img{
width: 270px;
height: 150px;
margin: 30px;
border-radius: 15px;
background-color: red;
}
.pic{
      max-width: 100%;
      max-height: 100%;
     justify-content: center;
}

button{
      background-color: blanchedalmond;
      width: 150px;
      height: 150px;
}